<div class="logo">
  <%= image_tag "Snapt-logo-blue.png" %>
  <form class="auth_form" action="<%= path %>" method="post">
    <%= auth_token %>
    <ul>
      <li>
        <input
          type="text"
          name="user[username]"
          value="<%= @user.username %>"
          placeholder="username"
        >
      </li>

      <% if path == users_url %>
        <li>
          <input
            type="text"
            name="user[email]"
            placeholder='Email'
            value="<%= @user.email %>"
          >
        </li>
      <% end %>

      <li>
        <input
          type="password"
          name="user[password]"
          placeholder="password"
        >
      </li>

      <li>
        <input type="submit" value="<%= action %>">
      </li>

      <% if path == session_url %>
        <li>
          <a href="<%= new_user_url %>">
            <button type="button">New User Sign Up</button>
          </a>
        </li>
      <% else %>
      <li>
        <a href="<%= new_session_url %>">
          <button type="button">Log In</button>
        </a>
      </li>
      <% end %>
    </ul>
  </form>
</div>
