<h1><%= action %></h1>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <% if action == "Sign Up"  %>
    <%= f.label :email %>
    <%= f.text_field :email %>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit action %>
<% end %>
