<h1><%= action %></h1>
<form class="auth_form" action="<%= path %>" method="post">
  <%= auth_token %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>">

  <% if path == users_url %>
    <label for="email">Email</label>
    <input type="text" name="user[email]" value="<%= @user.email %>">
  <% end %>

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="<%= action %>">
</form>
